*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2);
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;

  min-width: 940px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

body{
  position: relative;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 940px;
}

.logo,
.button,
a:focus,
.contacts__link:focus {
  outline: none;
}

.header,
.body__title,
.service {
  background-color: #f3f7f8;
}

header li,
.services li,
footer li {
  list-style: none;
}

.header__top,
.footer__bottom {
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 5px #b42833;
}

.header__logo {
  position: absolute;

  display: flex;
  width: 220px;
  height: 42px;
}

.header__logo img,
.footer__logo img {
  margin: auto;
}

.header__logo:hover,
.footer__logo:hover,
.header__logo:focus,
.footer__logo:focus {
  background-color: #ca2c37;
}

.header__logo:active,
.footer__logo:active {
  background-color: #ba2732;
}

.header__top-wrapper {
  margin-left: 220px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__form input[type="search"] {
  position: relative;

  padding: 13px 0px 13px 49px;
  border: none;
  box-sizing: border-box;

  width: 270px;
  
  font: inherit;
  line-height: 18px;
  color: inherit;
  
  background-color: transparent;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: 17px 12px;

  outline: none;
}

.header__form input[type="search"]:hover,
.top-menu__link:hover,
.top-menu__link:focus {
  background-color: #212a3a;
}

.header__form input[type="search"]:hover {
  background-image: url(../img/icon-search-hover.png);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.header__form input[type="search"]:focus {
  background-image: url(../img/icon-search-focus.png);
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

input[type="search"]:focus {
  color: #000000;

  background-color: #ffffff;
}

::-webkit-input-placeholder {
   color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder { 
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-webkit-input-placeholder input[type="search"]:focus {
  color: inherit;
}

::-moz-placeholder input[type="search"]:focus {
 color: inherit;
}

:-moz-placeholder input[type="search"]:focus { 
 color: inherit;
}

:-ms-input-placeholder input[type="search"]:focus {
 color: inherit;
}

.top-menu__link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-menu__link {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;

  display: block;
  width: 150px;

  color: inherit;
}

.top-menu__item:first-child .top-menu__link::before,
.top-menu__item:nth-child(2) .top-menu__link::before {
  content: "";

  position: absolute;

  opacity: 0.3;
}

.top-menu__item:first-child .top-menu__link::before {
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url(../img/icon-bookmark.svg);
}

.top-menu__item:nth-child(2) .top-menu__link::before {
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
}

.header__form:hover .header__label::before,
.top-menu__item:first-child:hover .top-menu__link::before,
.top-menu__item:first-child:focus .top-menu__link::before,
.top-menu__item:nth-child(2):hover .top-menu__link::before,
.top-menu__item:nth-child(2):focus .top-menu__link::before {
  opacity: 1;
}

.header__form:focus .header__label::before {
  background-image: url(../img/icon-search-active.svg);
}

.top-menu__item:first-child:active .top-menu__link::before,
.top-menu__item:nth-child(2):active .top-menu__link::before {
  opacity: 0.3;
}


.top-menu__item:first-child .top-menu__link {
  padding-left: 45px;
}

.top-menu__item:nth-child(2) .top-menu__link {
  padding-left: 51px;
}

.top-menu__link--active,
.top-menu__link--active:hover,
.top-menu__link--active:focus,
.top-menu__link--active:active {
  background-color: #ee3643;
}

.top-menu__item:last-child .top-menu__link {
  padding-left: 21px;
  background-color: #63a63e;
}

.top-menu__item:last-child .top-menu__link:hover,
.top-menu__item:last-child .top-menu__link:focus {
  background-color: #5fbb2d;
}

.top-menu__item:last-child .top-menu__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header__content {
  padding-top: 47px;
  padding-bottom: 39px;

  display: flex;
  flex-direction: row;
}

.header__description {
  margin: 0px;
  margin-right: 70px;
  padding-left: 53px;
  padding-top: 2px;

  width: 250px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header__contact {
  margin-right: 51px;
}

.header__contact-phone {
  position: relative;
  padding: 9px 0px 9px 71px;
  margin-bottom: 3px;
  
  display: block;
  border: 3px solid #ffffff;
  width: 270px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header__contact-phone::before {
  content: "";

  position: absolute;
  left: 14px;
  
  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
}

.header__contact-phone,
.footer__contact-phone {
  cursor: pointer;
}

.header__contact-address {
  font-size: 14px;
  line-height: 23px;
  font-style: normal;
  color: #32425c;
  text-align: center;
}

.header__reg {
  margin: 0px;
  padding: 0px;
  padding-left: 18px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__reg-link {
  padding-top: 12px;
  padding-bottom: 12px;

  display: block;
}

.header__reg-link,
.personal-area__login {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header__reg-item {
  height: 45px;
}

.header__reg-item:first-child .header__reg-link {
  position: relative;
  padding-left: 48px;

  width: 121px;
}

.header__reg-item:first-child .header__reg-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 15px;

  width: 20px;
  height: 17px;

  background-image: url(../img/icon-login.png);
}

.header__reg-item:first-child .header__reg-link:hover::before,
.header__reg-item:first-child .header__reg-link:focus::before {
  background-image: url(../img/icon-login-hover.png);
}

.header__reg-item:first-child .header__reg-link:active::before {
  background-image: url(../img/icon-login.png);
}

.header__reg-item:last-child {
  margin-left: 10px;
}

.header__reg-item:last-child .header__reg-link {
  padding-left: 25px;

  width: 150px;
}

.personal-area__login {
  position: relative;
  padding: 12px 67px 12px 46px;
  margin-bottom: 6px;

  display: block;
  width: 299px;
  
  cursor: default;
}

.user-name {
  color: inherit;
}

.icon-user {
  content: "";

  position: absolute;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url(../img/icon-user.svg);

  cursor: pointer;
}

.icon-logout  {
  content: "";

  position: absolute;
  right: 11px;

  width: 20px;
  height: 17px;

  background-image: url(../img/icon-logout.svg);

  cursor: pointer;
}

.icon-user:hover,
.icon-user:focus {
  background-image: url(../img/icon-user-hover.svg);
}

.icon-user:active {
  background-image: url(../img/icon-user.svg);
}

.icon-logout:hover,
.icon-logout:focus {
  background-image: url(../img/icon-logout-hover.svg);
}

.icon-logout:active {
  background-image: url(../img/icon-logout.svg);
}

.personal-area__items {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
}

.personal-area__link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.personal-area__link:hover,
.personal-area__link:focus {
  color: #ee4f5b;
}

.personal-area__item:first-child {
  margin-left: 17px;
}

.personal-area__item:last-child {
  position: relative;
  margin-left: 32px;
}

.personal-area__item:last-child .personal-area__link::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -16px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

.header__reg-link:hover,
.header__reg-link:focus {
  color: #ee3643;
}

.header__reg-link:active,
.personal-area__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name:active {
  color: rgba(50, 66, 92, 0.3)
}

.main-menu__items,
.footer {
  background-color: #32425c;
}

.header__menu {
  padding-bottom: 60px;
}

.main-menu__items {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: inset 0 -5px #293449;
}

.main-menu__link {
  padding-top: 20px;
  padding-bottom: 23px;
  display: block;

  font: inherit;
  line-height: 17px;
  color:inherit;
}

.main-menu__item:first-child .main-menu__link {
  padding-left: 51px;
  padding-right: 32px;
}

.main-menu__item:nth-child(2) .main-menu__link {
  padding-left: 33px;
  padding-right: 29px;
}

.main-menu__item:nth-child(3) .main-menu__link {
  padding-left: 30px;
  padding-right: 30px;
}

.main-menu__item:nth-child(4) .main-menu__link {
  padding-left: 31px;
  padding-right: 28px;
}

.main-menu__item:nth-child(5) .main-menu__link {
  padding-left: 30px;
  padding-right: 30px;
}

.main-menu__item:nth-child(6) .main-menu__link {
  padding-left: 31px;
  padding-right: 31px;
}

.main-menu__item:nth-child(7) .main-menu__link {
  padding-left: 32px;
  padding-right: 54px;
}

.main-menu__link:hover,
.main-menu__link:focus {
  background-color: #293449;
}

.main-menu__item:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #1d2739;
}

.header {
  margin-bottom: 59px;
}

.body {
  position: relative;

  margin-bottom: 70px;
}

.body__title,
.bosch__title,
.good-bosch__title,
.service__title {
  margin: 0px;
}

.categories__top,
.categories__bottom {
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories__bottom {
  margin-bottom: 54px;
}

.categories-items__item {
  padding: 21px 140px 21px 25px;
  position: relative;

  width: 300px;
}

.categories-item__title {
  padding-bottom: 13px;
  display: block;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.categories-item__link {
  padding-top: 10px;
  padding-bottom: 10px;

  display: block;
  border-radius: 2px;

  color:inherit;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(0,0,0,0.1);
}

.categories-item__link:hover,
.categories-item__link:focus {
  background-color: rgba(0,0,0,0.2);
}

.categories-item__link:active {
  background-color: rgba(0,0,0,0.3);
}

.categories-items--materials,
.categories-items--delivery {
  background-color: #ffbf47;
}

.categories-items--materials:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;

  width: 44px;
  height: 65px;

  background-image: url(../img/icon-1.svg);
}

.categories-items--materials:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.svg);
}

.categories-items--instruments {
  background-color: #3bbce3;
}

.categories-items--instruments:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 27px;

  width: 75px;
  height: 61px;

  background-image: url(../img/icon-2.svg);
}

.categories-items--technics {
  background-color: #dc91d8;
}

.categories-items--technics:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  width: 78px;
  height: 62px;

  background-image: url(../img/icon-3.svg);
}

.categories-items--discounts {
  background-color: #8ed78f;
}

.categories-items--discounts:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 44px;

  width: 59px;
  height: 72px;

  background-image: url(../img/icon-4.svg);
}


.categories-items--delivery:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;

  width: 78px;
  height: 63px;

  background-image: url(../img/icon-5.svg);
}

.categories-slider {
  position: relative;
  
  width: 620px;
  height: 266px;
}

.categories-slider {
  position: relative;
}

.categories-slider__description {
  margin: 0px;

  position: absolute;
  top: 5px;
  left: 25px;
}

.categories-slider__title {
  padding-top: 18px;
  margin-bottom: 2px;

  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.categories-slider__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.categories-slider__title,
.categories-slider__text {
  display: block;
}

.categories-slider--not-active {
  display: none;
}

.categories-slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 22px;
  height: 40px;
}

.categories-slider-prev {
  left: 25px;

  background-image: url(../img/icon-left.svg);
}

.categories-slider-next {
  right: 20px;

  background-image: url(../img/icon-right.svg);
}

.button {
  display: flex;

  min-height: 38px;

  font-size: 14px;
  color: inherit;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button span {
  margin: auto;
  margin-top: 11px;

  color: white;
}

.categories-slider__button {
  position: absolute;
  left: 25px;
  bottom: 22px;

  width: 195px;
}

.categories-slider__pagination {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 36px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  height: 10px;
}

.categories-slider__pagination-item {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;

  background-color: #ffffff;

  list-style: none;
}

.categories-slider__pagination-item--active {
  background-color: red;
}

.categories-items__rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs {
  position: absolute;
  top: -38px;
}

.breadcrumbs__items {
  margin: 0;
  padding: 0;
}

.breadcrumbs__link,
.breadcrumbs__item,
.sort__title,
.sort__link,
.filter__title,
.filter__description,
.filter__price,
.checkbox__title,
.checkbox__label,
.radio__title,
.radio__label,
.filter__button,
.pagination-items__link {
  font-size: 13px;
  color: #000000;
  font-family: "PT Sans";
  text-transform: uppercase;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  position: relative;

  font-size: 0;
}

.breadcrumbs__item:first-child .breadcrumbs__link::before {
  content: "";

  position: absolute;
  bottom: 0px;

  width: 14px;
  height: 12px;

  background-image: url(../img/icon-home.svg);
}

.breadcrumbs__item:nth-child(2) {
  padding-left: 52px;
}

.breadcrumbs__item:nth-child(2) .breadcrumbs__link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 30px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);
  
  cursor: default;
}

.breadcrumbs__item:nth-child(3),
.breadcrumbs__item:nth-child(4) {
  padding-left: 37px;
}

.breadcrumbs__item:nth-child(3) .breadcrumbs__link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 125px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);

  cursor: default;
}

.breadcrumbs__item:nth-child(3) .breadcrumbs__link::after {
  content: "";

  position: absolute;
  top: 3px;
  left: 245px;

  width: 8px;
  height: 12px;

  background-image: url(../img/icon-right-small.svg);

  cursor: default;
}

.body__filter {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 220px;
}

.filter__title {
  padding-top: 11px;
  padding-right: 150px;
  padding-bottom: 10px;
  padding-left: 20px;

  min-height: 38px;
}

.filter__description {
  display: block;

  padding-top: 19px;
  padding-bottom: 15px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter__slider {
  position: relative;

  margin-bottom: 9px;
  min-height: 80px;
}

.filter__line-grey {
  position: absolute;
  top: 39px;
  left: 20px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.filter__line-green {
  position: absolute;
  top: 39px;
  left: 20px;

  width: 151px;
  height: 2px;

  background-color: #00ca74;
}

.filter__slider-first {
  position: relative;
}

.filter__slider-first::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 20px;

  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.svg);
}

.filter__slider-second {
  position: relative;
}

.filter__slider-second::after {
  content: "";

  position: absolute;
  top: 30px;
  left: 160px;

  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.svg);
}

.filter__price {
  display: inline-block;

  margin-bottom: 25px;

  font-size: 17px;
  text-align: center;
}

.filter__price--start {
  position: relative;

  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 46px;
  margin-right: 26px;
}

.filter__price--start::after {
  content: "";

  position: absolute;
  bottom: 18px;
  right: -20px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filter__price--end {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.filter__range {
  margin-bottom: 17px;

  border-bottom: 1px solid #e5e5e5;
}

.filter__checkbox,
.filter__radio {
  display: flex;
  flex-direction: column;
}

.filter__checkbox {
  margin-bottom: 18px;

  border-bottom: 1px solid #f2f2f2;
}

.checkbox__title,
.radio__title {
  margin-bottom: 14px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

[type="checkbox"],
[type="radio"] {
  display: none;
}

.checkbox__label,
.radio__label {
  position: relative;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 35px;

  font-size: 15px;
  line-height: 20px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

.checkbox__label::before,
.radio__label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -1px;
}

.checkbox__label::before {
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
}

input[id="bosch"]:checked + label[for="bosch"]::before,
input[id="interscol"]:checked + label[for="interscol"]::before,
input[id="makita"]:checked + label[for="makita"]::before,
input[id="dewalt"]:checked + label[for="dewalt"]::before,
input[id="hitachi"]:checked + label[for="hitachi"]::before {
  width: 27px;

  background-image: url(../img/checkbox-on.svg);
}

.radio__label::before {
  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
}

input[id="battery"]:checked + label[for="battery"]::before,
input[id="network"]:checked + label[for="network"]::before {
  background-image: url(../img/radio-on.svg);
}

input[type="checkbox"]:disabled + .checkbox__label,
input[type="radio"]:disabled + .radio__label {
  opacity: 0.4;
}

.checkbox__label:last-child {
  margin-bottom: 21px;
}

.radio__label:last-child {
  margin-bottom: 78px;
}

.filter__button {
  padding-top: 12px;
  padding-bottom: 10px;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
  width: 140px;

  text-align: center;

  background-color: #ffffff;

  cursor: pointer;
}

.body__sort {
  position: absolute;
  top: 110px;
  left: 240px;

  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 38px;
  min-width: 700px;
}

.sort__title {
  padding-right: 140px;
  padding-left: 20px;
}

.sort__link:first-of-type {
  margin-right: 69px;
}

.sort__link:nth-of-type(2) {
  margin-right: 65px;
}

.sort__link:nth-of-type(3) {
  margin-right: 46px;
}

.sort__link--active {
  border: none;

  color: #ee3643;
  opacity: 1;
}

.sort__link span {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ee3643;
}

.sort__link span {
  opacity: 0.3;
}

.sort__link:hover span,
.sort__link:focus span,
.sort__link--active:hover,
.sort__link--active:focus {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ee3643;

  opacity: 1;
}

.sort__link--active:hover,
.sort__link--active:focus {
  color: #000000;
}

.sort__link:active,
.sort__link:active span {
  border:none;

  color: #ee3643;
  opacity: 1;
}

.sort__icon {
  font-size: 0px;
}

.sort__icon::before {
  content: "";

  display: inline-block;

  border: 11px solid #c5c5c5;
  border-left-width: 5.5px;
  border-left-color: transparent;
  border-right-width: 5.5px;
  border-right-color: transparent;
}

.sort__icon-up::before {
  border-top-width: 0px;
}

.sort__icon-up {
  margin-top: 7px;
  margin-right: 22px;
}

.sort__icon-down {
  margin-top: 7px;
  margin-right: 15px;
}

.sort__icon-down::before {
  border-bottom-width: 0px;
}

.sort__icon:hover::before,
.sort__icon:focus::before {
  border-bottom-color: #000000;
  border-top-color: #000000;
}

.sort__icon:active::before {
  border-bottom-color: #ee3643;
  border-top-color: #ee3643;
}

.sort__icon-up--active::before {
  border-bottom-color: #ee3643;
}

.body__sort,
.filter__title,
.filter-slider,
.filter__price {
  background-color: #f7f3ec;

  border-radius: 2px;
}

.populars {
  margin-bottom: 21px;
}

.populars__description,
.brands__description {
  background-color: #f9f5f0;
}

.populars__title,
.brands__title,
.body__title,
.service__title {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.body__title {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.populars__description,
.brands__description {
  margin-bottom: 21px;

  display: flex;
  flex-direction: row;
}

.populars__title,
.brands__title {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.populars__button,
.brands__button {
  margin: 24px 24px 26px 0px;
  width: 253px;
}

.populars-goods {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;

  border: 1px solid #eaeaea;
}

.drill--new {
  position: relative;
}

.drill--active .not-hidden {
  display: none;
}

.drill--active .hidden {
  display: block;
}

.drill--new::before {
  content: "";

  position: absolute;
  top: -1px;
  right: 0px;

  width: 60px;
  height: 59px;

  background-image: url(../img/new-flag.svg);
}

.not-hidden,
.hidden {
  order: -1;
}

.not-hidden {
  margin-bottom: 8px;
}

.hidden {
  margin-bottom: 5px;;
}

.not-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 170px;
}

.hidden {
  display: none;
  padding-top: 43px;
}

.drill__buy,
.drill__bookmark {
  display: flex;

  min-height: 38px;
}

.drill__buy span {
  margin: auto;
  margin-top: 11px;
  margin-left: 49px;
}

.drill__bookmark span {
  margin: auto;
  margin-top: 8px;
  margin-left: 35px;
}

.drill__title {
  margin: 0px;
  margin-bottom: 12px;

  width: 180px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}

.drill__title span {
  text-transform: uppercase;
}

.populars-goods__drill:last-child .drill__title,
.catalog-goods__item:nth-child(3n) .drill__title {
  margin-bottom: 40px;
}

.catalog-goods {
  margin-top: 78px;
  margin-left: 240px;

  display: flex;
  flex-direction: column;
}

.catalog-goods__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 20px;
}

.catalog-goods__items:last-of-type {
  margin-bottom: 60px;
}

.drill__price {
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}

.drill__discount {
  position: relative;
  margin-bottom: 20px;
  margin-left: 3px;

  width: 138px;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

.drill__discount::after {
  content: "";
  
  position: absolute;
  top: 0px;
  right: -23px;

  width: 0px;
  height: 0px;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.drill__discount:hover::after,
.drill__discount:focus::after {
  border-left-color: #ca2c37;
}

.drill:hover,
.drill:focus {
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.drill:hover .not-hidden,
.drill:focus .not-hidden {
  display: none;
}

.drill:hover .hidden,
.drill:focus .hidden {
  display: block;
}

.drill__buy {
  margin-bottom: 8px;
  width: 135px;
  border-radius: 2px;

  font-size: 14px;
  color: inherit;
  text-transform: uppercase;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.drill__buy:hover,
.drill__buy:focus {
  background-color: #5fbb2d;
}

.drill__buy:active {
  background-color: #518534;
  box-shadow: none;
}

.drill__bookmark {
  margin-bottom: 46px;
  width: 135px;
  border: 3px solid #63a63e;
  border-radius: 2px;

  font-size: 14px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.drill__bookmark:hover,
.drill__bookmark:focus {
  border: 3px solid #32425c;
}

.drill__bookmark:active {
  border: 3px solid rgba(50, 66, 92, 0.3);

  color: rgba(50, 66, 92, 0.3);
}

.brands-items {
  margin: 0px;
  padding: 0px;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brands-items:first-of-type {
  margin-bottom: 20px;
}

.brands-items__item {
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
}

.brands-items__link:hover,
.brands-items__link:focus {
  box-shadow: 0px 10px 25px rgba(41,52,73,0.5);
}

.brands-items__item:active {
  box-shadow: 0px 4px 10px rgba(41,52,73,0.5);
}

.brands-items__item:active img {
  opacity: 0.3;
}

.brands-items__link {
  display: block;
}

.brands-items__link--bosch {
  padding: 52px 0px 50px 46px;
}

.brands-items__link--makita {
  padding: 49px 0px 50px 47px;
}

.brands-items__link--dewolt {
  padding: 47px 0px 48px 36px;
}

.brands-items__link--interscol {
  padding: 20px 0px 31px 9px;
}

.brands-items__link--hitachi {
  padding: 57px 0px 51px 28px;
}

.brands-items__link--lg {
  padding: 34px 0px 32px 48px;
}

.brands-items__link--aeg {
  padding: 22px 0px 21px 35px;
}

.brands-items__link--metado {
  padding: 34px 0px 36px 10px;
}

.brands {
  margin-bottom: 85px;
}

.services {
  background-color: #f4f8f9;
}

.services__container {
  position: relative;
  margin-bottom: 78px;

  min-height: 522px;
}

.services__description {
  position: absolute;
  top: 64px;
  left: 0px;

  width: 401px;
}

.services__title,
.advantages__title,
.contacts__title {
  margin: 0px;
  padding-bottom: 26px;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services__text,
.services-slider__text,
.advantages__text,
.contacts__text {
  margin: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1px;
}

.services__items {
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 98px;
  left: 0px;

  width: 240px;
}

.services__layer {
  position: absolute;
  bottom: 55px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url(../img/layer-service.png);

  z-index: 2;
  opacity: 0.25;
}

.services__item {
  padding: 13px 140px 18px 22px;

  box-shadow:
    inset 0px -1px 0px #293449,
    inset 0px 1px 0px #405069;
  height: 62px;

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;

  list-style: none;
  cursor: pointer;
}

.services__link {
  color: inherit;
}

.services__item:hover,
.services__link:focus .services__item {
  background-color: #293449;
}

.services__item--active:hover,
.services__item--active:focus {
  color: #ffffff;
}

.services__item:active,
.services__item--active {
  box-shadow: 0px 1px 0px #ffffff;

  color: #32425c;

  background-color: #ffffff;
}

.services-slider {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 620px;
}

.services-slider__title {
  margin: 0px;
  padding-bottom: 25px;

  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slider__delivery {
  position: relative;
  
  /*display: none;*/

  min-height: 287px;
}

.services-slider__text--delivery {
  width: 278px;
}

.services-slider__delivery::after {
  content: "";

  position: absolute;
  right: 1px;
  top: 25px;

  width: 469px;
  height: 261px;

  background-image: url(../img/delivery.png);
}

.services-slider__guarantee {
  position: relative;

  display: none;

  min-height: 287px;
}

.services-slider__text--guarantee {
  width: 373px;
}

.services-slider__guarantee {
  content: "";

  position: absolute;
  right: 1px;
  top: 3px;

  width: 389px;
  height: 283px;

  background-image: url(../img/guarantee.png);
}

.services-slider__credit {
  position: relative;

  display: none;

  min-height: 287px;
}

.services-slider__text--credit {
  padding-bottom: 30px;

  width: 280px;
}

.services-slider__credit::after {
  content: "";

  position: absolute;
  right: 1px;
  top: 1px;

  width: 465px;
  height: 285px;

  background-image: url(../img/credit.png);
}

.services-slider__button {
  width: 195px;
}

.information {
  margin-bottom: 84px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages__title,
.contacts__title {
  margin-bottom: 26px;
  padding: 0px;

  font-weight: normal;
}

.advantages p:first-of-type {
  margin-bottom: 25px;

  width: 518px;
}

.advantages p:nth-of-type(2) {
  margin-bottom: 20px;

  width: 391px;
}

.delivery {
  position: relative;
  margin: 0px;
  margin-bottom: 38px;
  padding: 0px;
}

.delivery__item {
  margin-bottom: 21px;
  margin-left: 36px;

  font-size: 18px;
  line-height: 19px;
  color: #000000;

  list-style: none;
}

.delivery__item::before {
  content: "";

  position: absolute;
  left: 0px;

  width: 25px;
  height: 2px;

  border: 1px solid red;
}

.delivery__item:first-child::before {
  top: 10px;
}

.delivery__item:nth-of-type(2)::before {
  top: 49px;
}

.delivery__item:last-child::before {
  top: 88px;
}

.advantages__button {
  width: 220px;
}

.contacts__text {
  margin-bottom: 33px;

  width: 180px;
}

.contacts__link img {
  margin-bottom: 35px;
}

.pagination-items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-items__link span {
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-items__item:last-child span {
  padding-right: 30px;
  padding-left: 30px;
}

.pagination-items__link {
  margin-right: 10px;
}

.pagination-items__link:hover span,
.pagination-items__link:focus span {
  border-color: #bdc6ca;
}

.pagination-items__link:active span {
  border-color: #ee3643;
}

.pagination-items__item--active span {
  border-color: #ee3643;

  color: white;
  background-color: #ee3643;
}

.service__title {
  padding-top: 64px;
  padding-bottom: 27px;

  color: #000000;
}

.service__description {
  margin: 0px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color:#000000;
}
.services__description:first-of-type {
  letter-spacing: 0.05px;
}

.service__description:last-of-type {
  padding-bottom: 69px;

  letter-spacing: 0.17px;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 33px;
  display: flex;

  width: 221px;
  height: 64px;
}

.footer__contact {
  margin-left: 3px;
}

.footer__contact {
  margin-left: 4px;
}

.footer__contact-adress,
.footer__contact-phone {
  margin: 0px;

  width: 323px;
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer__contact-adress {
  display: block;

  font-style: normal;
}

.minor-menu__items {
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.minor-menu--top {
  padding-top: 42px;
}

.minor-menu--bottom {
  padding-top: 40px;
}

.minor-menu--top .minor-menu__item:not(first-child) {
  margin-left: 59px;
}

.minor-menu--bottom .minor-menu__item:not(first-child) {
  margin-left: 59px;
}

.minor-menu__link {
  font-size: 18px;
}

.minor-menu--top .minor-menu__link {
  color: #F1F5F7;
}

.minor-menu--bottom .minor-menu__link,
.footer__feedback-link,
.footer__copyright-link {
  color: #FFD180;
}

.minor-menu__link:hover,
.footer__feedback-link:hover,
.footer__copyright-link:hover,
.minor-menu__link:focus,
.footer__feedback-link:focus,
.footer__copyright-link:focus {
  text-decoration: underline;
}

.footer__feedback-link:active,
.footer__copyright-link:active {
  text-decoration: none;
  color: #ee3643;
}

.minor-menu__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer__menu {
  margin-bottom: 75px;
}

.footer__bottom-wrapper {
  display: flex;
  flex-direction: row;
}

.footer__copyright-top,
.footer__feedback,
.footer__copyright {
  margin: 0px;
  margin-top: 38px;
  margin-bottom: 34px;

  font-size: 16px;
}

.footer__copyright-top {
  margin-right: 145px;

  width: 245px;
}

.footer__social-items {
  margin-right: 117px;
  
  display: flex;
  flex-direction: row;
  width: 135px;
}

.footer__social-link {
  border-radius: 50%;
  margin-top: 36px;
  margin-right: 4px;
  
  font-size: 0px;

  width: 41px;
  height: 41px;

  background-color: #212A3A;
}

.footer__social-link:hover,
.footer__social-link:focus,
.footer__social-link:active {
  background-color: #ee3643;
}

.social-vk {
  background-image: url('../img/icon-vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-fb {
  background-image: url('../img/icon-fb.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-insta {
  background-image: url('../img/icon-insta.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__feedback {
  margin-right: 51px;
  width: 137px;
}

.footer__copyright {
  width: 98px;
}

.write-us {
  position: absolute;
  bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  width: 620px;
  box-shadow: 
  inset 0px 7px #ee3643,
  0px 15px 30px black;
  
  background-color: #ffffff;
}

.write-us--open {
  display: block;
}

.write-us__item {
  display: inline-block;

  padding-bottom: 15px;
}

.write-us__item:last-child {
  padding-bottom: 0px;
}

.write-us__form {
  position: relative;
  
  width: 100%;
  min-height: 100%;
}

.write-us__container {
  padding: 48px 80px 25px 80px;
}

.write-us__item:first-child {
  padding-right: 15px;
}

.write-us__button-close,
.poput-cart__button-close,
.big-map__button-close {
  position: absolute;
  top: 16px;
  right: 9px;

  width: 21px;
  height: 21px;

  background-image: url(../img/icon-close.svg);

  cursor: pointer;
  z-index: 1;
}

.big-map__button-close {
  top: 25px;
  right: 25px;
}

.write-us__name,
.write-us__email {
  width: 220px;
}

.write-us__text {
  width: 460px;
}

.write-us__label {
  font-size: 18px;
  color: #000000;
}

.write-us__name,
.write-us__email,
.write-us__text {
  padding: 8px 14px 8px 14px;

  border: 2px solid #dee3e4;
  border-radius: 2px;

  font-size: 13px;
  line-height: 18px;
  color: #999999;
  font-family: "PT Sans";
  
  background-color: #ffffff;
  
  outline: none;
}

.write-us__name:hover,
.write-us__email:hover,
.write-us__text:hover {
  border-color: #b5b5b5;
}

.write-us__name:focus,
.write-us__email:focus,
.write-us__text:focus {
  border-color: #ee3643;
}

.write-us__text {
  padding: 8px 14px 0px 14px;

  width: 460px;
}

.write-us__label {
  padding-bottom: 10px;

  display: block;

  font-weight: bold;
}

.write-us__send {
  padding: 43px 80px;

  background-color: #f4f4f4;
}

.write-us__button {
  width: 460px;
}

.big-map {
  position: absolute;
  bottom: 335px;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  z-index: 2;
}

.big-map--open {
  display: block;
}

.big-map__link {
  cursor: default;
}

.popup-cart {
  position: absolute;
  top: 411px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  width: 620px;
  min-height: 282px;
  box-shadow:
    inset 0px 7px #ee3643,
    0px 15px 30px black;
  
  background-color: #ffffff;
}

.popup-cart--open {
  display: block;
}

.cart__title {
  position: relative;

  margin: 0;
  padding-top: 75px;
  padding-right: 108px;
  padding-bottom: 68px;
  padding-left: 179px;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.cart__title::before {
  content: "";

  position: absolute;
  top: 55px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url(../img/icon-mark.svg);
}

.cart__buttons {
  display: flex;
  flex-direction: row;

  background-color: #f4f4f4;
}

.cart__button-buy {
  padding-right: 68px;
  padding-left: 68px;
}

.cart__button-close--focus {
  padding-right: 48px;
  padding-left: 48px;

  background-color: #ffffff;

  cursor: pointer;
}

.cart__button-close--focus span {
  color: #000000;
}

.cart__button-close--focus:hover,
.cart__button-close--focus:focus,
.cart__button-close--focus:active {
  background-color: #ffffff;
}

.cart__button-buy {
  margin-top: 37px;
  margin-right: 20px;
  margin-bottom: 34px;
  margin-left: 80px;
}

.cart__button-close--focus {
  margin-top: 37px;
  margin-bottom: 34px;
}